
{
	"presets": [
		"react",
		"es2015" 
	],
	"plugins": [ 
		"transform-object-rest-spread"
	], 
	"env": {
		"test": {
			"plugins": [
				[ 
					"babel-plugin-css-modules-transform", 
					{
						"generateScopedName": "[path]___[name]__[local]___[hash:base64:5]",
						"extensions": [".css"] 
					}
				] 
			]
		}, 
		"node": {
			"plugins": [ 
					[
						"babel-plugin-css-modules-transform", 
						{
							"generateScopedName": "[path]___[name]__[local]___[hash:base64:5]",
							"extensions": [".css"] 
						}
					] 
			]
		} 
	}
}