.about {
	position: relative;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
	min-height: 100vh;
	color: #252d36;
}

.profile-wrapper {
	display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
}

.picture {
	height: 150px;
    width: 150px;
    border-radius: 75px;
}

.name {
	margin-top: 25px;
    font-weight: bold;
    font-size: larger;
}

.description {
    color: grey;
}

.top-line {
	height: 1px;
    width: calc(100vw + 60px);
    background-color: #252d36;
    position: absolute;
	top: 20vh;
	opacity: 0.4;
}

.bottom-line {
	height: 1px;
    width: calc(100vw + 60px);
    background-color: #252d36;
    position: absolute;
	bottom: 20vh;
	opacity: 0.4;
}

@media (max-width: 600px) {
	.about {
		flex-direction: column;
		justify-content: space-evenly;
	}

	.picture {
		height: 100px;
		width: 100px;
	}

	.name {
		margin-top: 15px;
		font-weight: bold;
		font-size: 15px;
	}

	.description {
		max-width: 90vw;
		font-family: 'Lora', serif;
		font-size: 12px;
	}

	.top-line {
		display: none;
	}

	.bottom-line {
		display: none;
	}
}