.content {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	min-height: 30vh;
	padding: 5vh;
	color: black;
}

.image {
	color: green;
	font-size: 6em;
	margin: 15px;
}

.wrapper {
	display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	margin: 10px 30px;
	width: 40vw;
}

.title {
	font-size: larger;
}

.copy {
	font-family: 'Lora', serif;
	color: grey;
}

.padding {
	padding-top: 10vh;
}

@media (max-width: 600px) {
	.content {
		flex-direction: column;
	}

	.wrapper {
		width: 90vw;
	}
}