.footer {
	position: absolute;
	bottom: 0;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	background-color: #252d36;
	opacity: .95;
	height: 50px;
	min-width: 100%;
	z-index: 1;
	color: white;
}

.content {
	display: -webkit-inline-box;
    flex-direction: column;
	justify-content: center;
	font-family: 'Gotham-ExtraLight';
	font-size: 10px;
	margin: 0 30px;
}

.social {
	font-size: 25px;

	& i {
		margin: 5px;
	}
}

@media (max-width: 700px) {
	.content {
		margin: 0 5px;
	}

	.social {
		font-size: 15px;
		width: 14vw;
	
		& i {
			margin: 2px;
		}
	}
}
