.home {
	background: url('../../assets/images/home-background.png');
	background-size: cover;
    background-repeat: no-repeat;
	height: 100vh;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.block {
	margin: 30px;
	width: 60vw;
}

.title {
	font-family: 'Gotham-ExtraLight';
	color: white;
	font-size: 2.0em;
}

.subtitle {
	font-family: 'Gotham-ExtraLight';
	color: white;
	font-size: 1.5em;
}

.copy {
	margin: 10px 0 0 0;
	font-family: 'Gotham-ExtraLight';
	color: white;
}